*
{
    margin: 0;
    padding: 0;
}

.haha
{
    background-image: linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40)),url("../Background/gitar.jpg");
    background-position-x: center;
    background-size: cover;
    overflow-x: hidden;
    height: 83vh;
    padding-top: 70px;
}

.navbar h1
{
    animation-name: warna;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-direction: alternate;
}

@keyframes warna
{
    25%   {color: red;}
    50%  {color: yellow;}
    75%  {color: green;}
    100% {color: blue;}
}

.navbar
{
    color: aqua;
    background-color: black;
    font-family: 'Curlz MT';
    display: flex;
    justify-content: space-around;
    height: 70px;
    align-items: center;
    letter-spacing: 3px;
    position: fixed;
    width: 100%;
}

.navbar ul
{
    display: flex;
    justify-content: space-between;
    width: 40%;
    list-style: none;
}

ul li a
{
    color: aqua;
    text-decoration: none;
    font-size: 0.8em;
}

ul li a:hover
{
    color: yellow;
    transition: all .5s ease-in-out;
}

/* Hamburger Tombol */
.menu-toggle
{
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input
{
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -3px;
    opacity: 0;
    cursor: pointer; 
    z-index: 1;
}

.menu-toggle span
{
    display: block;
    width: 28px;
    height: 3px;
    background-color: aqua;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

/* Hamburger Tombol Animation */
.menu-toggle span:nth-child(2)
{
    transform-origin: 0 0;
}

.menu-toggle input:checked ~ span:nth-child(2)
{
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle span:nth-child(4)
{
    transform-origin: 0 100%; 
}

.menu-toggle input:checked ~ span:nth-child(4)
{
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3)
{
    opacity: 0;
    transform: scale(0);
}

/* Responsive Breakpoint */

/* Ukuran Tablet */
@media screen and (max-width: 768px)
{
    .navbar ul
    {
        width: 50%;
    }
}

/* Ukuran Mobile */
@media screen and (max-width: 567px)
{
    .menu-toggle
    {
        display: flex;
    }
    .navbar ul
    {
        position: absolute;
        right: 0;
        top: 0;
        width: 40%;
        height: 60vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: black;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }
    .navbar ul.slide
    {
        opacity: 1;
        transform: translateX(0);
    }
}

h2
{
    color: white;
    text-align: center;
    font-size: 50px;
    margin: auto;
    margin-top: 110px;
    width: 50%;
}

hr
{
    width: 50%;
    margin-left: 25%;
}

.tejal
{
    background-color: white;
    color: red;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.quotesgitar
{
    display: flex;
    justify-content: center;
    padding-top: 3%;
    opacity: 0.5;
}

.item
{
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
    margin: 30px;
    border: 1px solid white;
    border-radius: 5px;
    width: 250px;
}

.footer
{
    color: aqua;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}